// Define variables for your color scheme

// For example:
$red: #e18985;
$blue: #7cbaef;
$yellow: #f4e3a0;
$orange: #E67E22;
$green: #32B796;
$gray: #2d2d2d;
$light-gray: #F4F4F4;
$mid-gray: #848484;
$darker_blue: #378ed6;
$transparent-blue: rgba(124, 186, 239,0.8);
$background: #EBECE8;
$shadow:rgba(0,0,0,0.2);
