<h1><%= @toy.name %></h1>

<p><%= @toy.description %></p>

<% if current_user == @toy.user %>
  <%= link_to edit_toy_path(@toy) do %>
    <i class="far fa-edit"></i>
  <% end %>
<% end %>

<br>

<%= link_to toys_path do %>
  <i class="fas fa-long-arrow-alt-left"></i>
<% end %>
