#show-toy-fluid.container-fluid {
  display: flex;
  justify-content: center;
}

.toy-container {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 15px;
  box-shadow: 3px 3px 28px rgba(0, 0, 0, 0.2);
  max-width: 60vw;
  min-height: 50vh;
  max-height: calc(100vh - 90px);
  margin-top: 40px;
  overflow: scroll;
}

.toy-card {
  display: flex;
}

.toy-info {
  flex-direction: column;
  display: flex;
  flex: 0 0 70%;
  text-align: left;
  padding: 0;
  padding-left: 50px;
  padding-right: 50px;
  .toy-price {
    padding-left: 5px;
  }
  .toy-category {
    color: $mid-gray;
    font-size: 12px;
    padding-left: 5px;
  }
  .toy-book {
    padding-top: 20px;
    padding-left: 5px;
  }
  .toy-description {
    margin-top: 20px;
    text-align: justify;
  }
}

.toy-images-container {
  flex: 0 0 30%;
  flex-direction: column;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.toy-photo {
  border: 2px solid $blue;
  border-radius: 15px;
  margin: 5px;
  box-shadow: none;
}

#map.toy-map {
  border: 2px solid $blue;
  height: 300px !important;
  width: 300px !important;
  border-radius: 10px;
  margin: 5px;
}

.toy-card-footer {
  left: 10px;
  bottom: 30px;
  line-height: 1.2;
  margin: 10px 10px;
}

.fas.fa-star {
  color: $blue;
}

ul>li {
  margin-bottom: 10px;
}

.new-review {
  cursor: pointer;
  color: $blue;
}

.review-form {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  left: calc(50% - 250px);
  top: calc(50% - 250px);
  border-radius: 15px;
  padding: 50px;
  box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.1);
  .btn-close {
    position: fixed;
    top: calc(50% - 240px);
    right: calc(50% - 230px);
    cursor: pointer;
    color: $blue;
  }
}

@media (max-width: 768px) {
  .toy-images-container {
    display: none;
  }
  .toy-info{
    flex: 1 1 100%;
  }
}
