.toys-index-wrapper {
  display: flex;
}

.cards-container {
  flex: 0 0 70%;
  margin-right: 37px;
}

.map-container {
  flex: 0 0 30%;
  width: auto;
}

@media (max-width: 800px) {
  .cards-container {
    flex: 1 1 100%;
  }
  .map-container {
    flex: 1 1 100%;
    width: auto;
  }
  .toys-index-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

.h1-index {
  color: $gray;
}
