<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/nachospain" target="_blank" title="Nacho" alt="Nacho" ><i  id="link-1" class="fab fa-github"></i></a>
    <a href="https://github.com/JadwigaFR" target="_blank" title="Jadwiga" alt="Jadwiga" ><i  id="link-2" class="fab fa-github"></i></a>
    <a href="https://github.com/Rebecasa" target="_blank" title="Rebeca" alt="Rebeca" ><i  id="link-3" class="fab fa-github"></i></a>
    <a href="https://github.com/anjaist" target="_blank" title="Anja" alt="Anja" ><i  id="link-4" class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
   Made with de<i class="fas fa-bug"></i>ing at Toylandia
  </div>
</div>
