<div class="navbar-wagon">

  <!-- Our logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "logo.png", alt: "Toylandia", title: 'Rent toys', class:"img-circle" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- If user is logged in, possible actions are: Index Toys, Index Bookings, Show User, Log out-->
    <% if user_signed_in? %>
      <a href="/toys" class="navbar-wagon-item navbar-wagon-link">Toys</a>
      <a href="/toys/bookings" class="navbar-wagon-item navbar-wagon-link">Bookings</a>
      <a href="/toys/new" class="navbar-wagon-item navbar-wagon-link">Offer a toy</a>
        <!-- Profile picture with dropdown list -->
        <div class="navbar-wagon-item">
          <div class="dropdown">
            <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li><a href="/users/:id">Profile</a></li>
              <li><a href="/users/sign_out">Log Out</a></li>
            </ul>
          </div>
        </div>
    <!-- If user is not logged in, possible actions are: Index Toys, New User -->
      <% else %>
        <a href="/toys" class="navbar-wagon-item navbar-wagon-link">Toys</a>
        <a href="/users/sign_in" class="navbar-wagon-item navbar-wagon-link">Log in</a>
        <a href="/users/sign_up" class="navbar-wagon-item navbar-wagon-link">Create an account</a>
      <% end %>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

        <% if user_signed_in? %>
          <li><a href="/toys">Toys</a></li>
          <li><a href="/bookings">Bookings</a></li>
          <li><a href="/toys/new">Offer a toy</a></li>
          <li><a href="/user/:id">Profile</a></li>
          <li><a href="/users/sign_out">Log out</a></li>
        <% else  %>
          <li><a href="/toys">Toys</a></li>
          <li><a href="/users/sign_in">Log in</a></li>
          <li><a href="/users/sign_up">Create account</a></li>
        <% end %>

      </ul>
    </div>
  </div>
</div>
