  .each-toy{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 1px 1px 1px $shadow;
    margin: 10px;
  }
  .each-mytoy{
    display:flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: $blue;
    border-radius: 6px;
    box-shadow: 1px 1px 1px $shadow;
    margin: 10px;
  }
   .date{
    font-weight: bolder;
    font-size: 18px;
   }
   .name{
    font-weight: bolder;
    font-size: 18px;
   }

  .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;

  }


  .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      margin-left: 90px;
    &:hover {
        border-bottom: 6px solid $blue;
    }
   &:focus{
        border-bottom: 6px solid $blue;
  }
  }



    #bookings {
    padding: 20px;
    background-color: $light-gray;
    border-radius:0 0 6px 6px;
    box-shadow: 1px 1px 1px $shadow;
    opacity: 0.9;
    min-height: 355px;
    max-width: 834px;
    margin: 0 90px;
    border-top: none;
  }

    #rentals {
      padding: 20px;
      background-color: $light-gray;
      border-radius:0 0 6px 6px;
      box-shadow: 1px 1px 1px $shadow;
      opacity: 0.9;
      min-height: 355px;
      max-width: 834px;
      margin: 0 206px;
      border-top: none;
  }
   #mytoys {
      display:flex;
      padding: 20px;
      background-color: $light-gray;
      border-radius:0 0 6px 6px;
      box-shadow: 1px 1px 1px $shadow;
      opacity: 0.9;
      min-height: 459px;
      max-width: 834px;
      margin: 0 306px;
      border-top: none;
  }
   .toy-date-price{
    text-align: center;
   }
