.card {
  height: 200px;
  max-width: 350px;
  color: $background;
  background-size: cover !important;
  background-position: center;
  position: relative;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 20px;
  border: 2px solid $blue;
  text-shadow: 0 1px 3px rgb(0,0,0);
  font-size: 18px;
}

// Category of the toy
.card-category {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(166,166,166,0.5);
  width: 110px;
  height: 25px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 8px;
  padding-left: 12px;
}

.card-price {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 15px;
  background-color: $yellow;
  height: 25px;
  width: 100px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 8px;
  text-align: right;
  padding-right: 12px;
}

// Name of the toy
.card-title {
  position: absolute;
  background-color: $transparent-blue;
  width: 100%;
  bottom: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: white;
  text-align: center;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

// Price is originally hidden
.card-price {
  opacity: 0;
}

 // Only show the price when card is hovered
.card:hover .card-price{
  opacity: 1;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 15px;
  background-color: $green;
  width: 100px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 8px;
}
