.footer {
  font-weight: 700;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  color: rgba(0,0,0,0.6);
  position: absolute;
  overflow: hidden;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.6;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;

  i#link-1{color: $yellow;}
  i#link-2{color: $red;}
  i#link-3{color: $green;}
  i#link-4{color: pink;}
}
.footer .fa-heart {
  color: #D23333;
}


