.form-inputs {
  width: 300px;
  margin-bottom: 15px;
}
.various-forms{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.button-form {
  border: 2px solid $blue;
  border-radius: 10px;
  background-color: $blue;
  color: $yellow;
  padding: 5px 10px;
}
.button-form:hover {
  color: $darker_blue;
  background-color: rgba(255,255,255, 0)
}
.form-control {
  border-radius: 10px;
  border: 1px solid $blue;
}

