#map {
  border: 2px solid $blue;
  border-radius: 10px;
  // To make the map be sticky and take correct height
  height: 100vh !important;
  position: sticky !important;
  top: 0 !important;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.popup {
  width: 80px;
  height: auto;
}

.marker {
  display: block;
  border: 1px solid $blue;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}
