// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";
@import "pages/show";

// font-family: 'PT Sans', sans-serif;
// color scheme predominat $blue $yellow $red $green

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  margin: 0 0 100px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  justify-content: space-around;
  text-align: center;
  height: 100%;
  background-color: #e9eae5;
  // background-image: url("https://images.unsplash.com/photo-1530325553241-4f6e7690cf36?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=492f6735e2c55d60fe2f791f1c546280&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: top center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  /* bottom = footer height */
  background-color:#EBD8D0;
  text-align:center;
}
// DO NOT TOUCH/ animation for teddy bear no 2
svg {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.eyes {
  transform-box: fill-box;
}
@-webkit-keyframes eyes {
  0% {
    -webkit-transform: translateX(0px);
    transform: rotate(0deg);
    transform-origin: bottom;
    transform-box: fill-box;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: rotate(360deg);
    transform-origin: bottom;
    transform-box: fill-box;
  }
}
@-webkit-keyframes bowspin {
  0% {
    transform: rotate(0deg);
    transform-origin: center;
    transform-box: fill-box;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: center;
    transform-box: fill-box;
  }
}
.pupils {
  -webkit-animation: eyes 2s ease-in-out infinite;
  animation: eyes 2s linear infinite;
}
.bowtie {
  -webkit-animation: bowspin 1.3s infinite;
  transform-origin: bottom center;
  animation: bowspin .5s infinite;
  -webkit-animation-timing-function: linear;
}

